/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer__pycache__/
*.pyc
layout_dump*.json
tmp_hypium/
reports/
package.json
package-lock.json
